.home-hero {
  color: #fff;
  background-image: url(../assets/svg/common-bg.svg);
  background-position: center;

  height: 100vh;

  min-height: 80rem;
  max-height: 120rem;
  position: relative;

  @include respond(phone) {
    height: unset;
    min-height: unset;
  }

  &__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);

    @include respond(phone) {
      display: none;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;

    @include respond(phone) {
      padding: 19rem 0 13rem 0;
      margin: auto;
      position: static;
      transform: translate(0, 0);
    }
  }

  &__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
  }
  &__cta {
    margin-top: 5rem;
    text-align: center;
  }
  &__arrow {
    display: inline-block;
    animation: jump 0.8s ease infinite alternate;
    margin-bottom: -0.5rem;
    margin-left: -0.4rem;
  }
  &__download-cv-link:hover &__arrow {
    animation: none;
  }

  @keyframes jump {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(0.4rem);
    }
  }
}

.about {
  background: rgb(250, 250, 250);
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 8rem;
    }
    &-title {
      font-weight: 700;
      font-size: 2.8rem;
      margin-bottom: 3rem;
      @include respond(phone) {
        font-size: 2.4rem;
      }
    }
    &-details-para {
      font-size: 1.8rem;
      color: grey;
      max-width: 60rem;
      line-height: 1.7;
      margin-bottom: 1rem;
      &--hl {
        font-weight: 700;
        margin: 0 3px;
      }
      &:last-child {
        margin-bottom: 4rem;
      }
    }
  }
}

.projects {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 8rem;
    }

    @include respond(tab-port) {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img-cont {
      display: flex;
      overflow: hidden;
      border-radius: 0.5rem;
      box-shadow: 0.2rem 0.2rem 0.5rem lightgray;
      min-height: 30rem;
      &-order-top {
        @include respond(tab-port) {
          order: -1;
        }
      }
      &-style {
        padding-top: 5rem;
      }
    }

    &-img {
      display: block;
      width: 40%;
      object-fit: cover;
      margin: auto;
    }
    &-content {
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      @include respond(tab-port) {
        align-items: center;
      }

      &-title {
        font-weight: 700;
        font-size: 2.8rem;
        margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-desc {
        font-size: 1.8rem;
        color: grey;
        max-width: 60rem;
        line-height: 1.7;
        margin-bottom: 3rem;
        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
      &-links-cont {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }
    }
  }
}

.contact {
  background-image: url(../assets/svg/common-bg.svg);
  background-size: cover;
  background-position: center;

  &__email-container {
    display: flex;
    justify-content: center;
  }

  &__email-link {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.6rem;
    transition: 0.3s;

    &:hover {
      color: $themeClrPrimary;
    }
  }

  &__email-link:hover &__email-ico {
    fill: $themeClrPrimary;
  }
}
